@import '~bulma/bulma.sass';
@import 'bulma/css/bulma.css';
* {
  box-sizing: border-box;
  margin: 0;
}

#home-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1478737270239-2f02b77fc618?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  opacity: 0.79;
}
#welcome-message {
  font-size: 65px;
}
#index-container {
  display: flex;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
}

#newpodcast-container {
  background-image: url('https://html.sammy-codes.com/images/background.jpg');
  background-size: cover;
  opacity: 0.8;
  height: 100vh;
}

#podcast-card {
  margin: 10px 15px;
}
#podcast-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

#searchdisplay {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

#navbarflex {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.login-container {
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13%;
}
#login-background {
  background-image: url('https://images.unsplash.com/photo-1509822929063-6b6cfc9b42f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-size: cover;
  opacity: 0.9;
}
#register-background {
  background-image: url('https://images.unsplash.com/photo-1546435269-527d657231eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1121&q=80');
  background-size: cover;
  opacity: 0.9;
}
.register-container {
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 11%;
}
nav {
  background-color: hsl(0, 0%, 21%);
  color: white;
}

#card-links:visited {
  color: black;
}

a.footer-links:visited {
  color: hsl(171, 100%, 41%);
}
a.footer-links {
  color: hsl(171, 100%, 41%);
}
a.footer-links:hover {
  color: hsl(171, 100%, 41%);
  text-decoration: underline;
}

a {
  color: black;
}

a:hover {
  color: hsl(171, 100%, 41%);
  text-decoration: underline;
}
#footer-main {
  background-color: hsl(0, 0%, 21%);
  bottom: 0;
  width: 100%;
  height: 2rem;
  opacity: 0.9;
  color: white;
  margin-top: 0px;
  position: fixed;
}
strong,
h3 {
  padding-top: 7px;
  color: white;
}
// #search-container {
//   display: flex;
//   justify-content: center;
//   align-content: center;
// }
#logout {
  margin-left: 40%;
}
.searched-pod {
  display: flex;
  justify-content: center;
  align-content: center;
}

.fontstyling {
  color: white;
}

.is-multiline {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.column.card.is-one-fifth.mt-2.mx-2.mb-2 {
  height: 310px;
  font-size: 18px;
}

.no-results {
  background-image: url('https://images.unsplash.com/photo-1483412033650-1015ddeb83d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1200px;
}

.hero.is-fullheight-with-navbar.mt-6 {
  display: flex;
  justify-content: center;
  position: relative;
  top: -50px;
}

#noresults {
  color: black;
  font-size: 60px;

  border: 2px solid white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  padding: 5px 30px;
}

.podcastcard-wrapper {
  padding: 20px;
}

.comment-card-wrapper {
  padding: 20px;
}
.putsome {
  padding-top: 7px;
}

.changethis {
  height: 310px;
  font-size: 18px;
}

.navbar-end {
  padding: 10px;
}
#search-bar {
  padding: 10px 10px 10px 5px;
}

.addAnImage {
  background-image: url('https://wallpaperaccess.com/full/798906.jpg');
  background-size: cover;
  opacity: 0.9;
  height: 200vh;
}

.column.card.m-4.is-one-fifth {
  font-size: 20px;
}

.isRight {
  float:right;
  position: relative;
  top: -35px;
}


.wrapThisText {
  word-wrap: break-word;
  padding-bottom: 30px;
}

.columns {
  padding-bottom: 40px;
}

.navbar-brand.is-mobile{
  position: sticky;
}