@import '~bulma/bulma.sass';
@import 'bulma/css/bulma.css';
* {
  box-sizing: border-box;
}
#home-background {
  background-image: url('https://images.unsplash.com/photo-1478737270239-2f02b77fc618?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  opacity: 0.8;
}
#index-container {
  display: flex;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  opacity: 0.7;
}
#podcast-card {
  margin: 10px 15px;
}
#podcast-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

#searchdisplay {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

#navbarflex {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.login-container {
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13%;
}
#login-background {
  background-image: url('https://images.unsplash.com/photo-1509822929063-6b6cfc9b42f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-size: cover;
  opacity: 0.9;
}
#register-background {
  background-image: url('https://images.unsplash.com/photo-1546435269-527d657231eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1121&q=80');
  background-size: cover;
  opacity: 0.9;
}
.register-container {
  opacity: 0.85;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 11%;
}
nav {
  background-color: hsl(0, 0%, 21%);
  color: white;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: hsl(171, 100%, 41%);
}
#footer-main {
  position: fixed;
  background-color: hsl(0, 0%, 21%);
  bottom: 0;
  width: 100%;
  height: 2rem;
  opacity: 0.9;
  color: white;
}
strong,
h3 {
  padding-top: 7px;
  color: white;
}
